:root {
    --color-stateGray: #708090;
    --color-lavender: #E6E6FA;
    --color-mediumAquamarine: #66CDAA;
    --color-fireBrick: #B22222;
    --color-khaki: #F0E68C;
    --color-dar-green : #006100;
}

.btn {
    background-color: var(--color-lavender);
    color: var(--color-stateGray);
    width: 6em;
    height: 3em;
    border: none;
    border-radius: 0.4em;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-success:hover {
    background-color: var(--color-mediumAquamarine);
}

.btn-info:hover {
    background-color: var(--color-lightSteelBlue);
}

.btn-danger:hover {
    background-color: var(--color-fireBrick);
}

.btn-warning:hover {
    background-color: var(--color-khaki);
}
