
:root {
    --color-stateGray: #708090;
    --color-fireBrick: #B22222;
}

.container {
    color: var(--color-stateGray);
    padding-left: 8em;
    padding-right: 8em;
}

.container-item {
    color: var(--color-stateGray);
    
    justify-items: left;
    justify-content: space-between;

    padding: 1em;
    width: 98vw;
    height: 2em;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.sessao {
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Amatic SC', cursive;
    font-family: 'Tangerine', cursive;
    text-align: center;
}

.preco {
    color: var(--color-fireBrick);
}

.required {
    color: var(--color-fireBrick);
    font-size: 1.4em; 
    padding-left:0.4em;
}