<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript -->
    <script type="module" src="ProductRegistrationForm.js"></script>

    <!-- Fonsts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Tangerine&display=swap" rel="stylesheet">

    <!-- Custom Styles-->
    <link href="../../styles/tags.css" rel="stylesheet">
    <link href="../../styles/classes.css" rel="stylesheet">
    <link href="../../styles/buttons.css" rel="stylesheet">
  </head>

  <body>
    <section class="container">
      <form register id="product-registration-post" method="post">
        <h5 class="section-title">Register a Product</h5>
        <section class="row">
          <div class="container-item col">
            <div class="row">
              <label id="name" >Product's name</label>
            </div>
            <input in-name name="name" type="text" placeholder="Product's name">
            <small validation></small>
          </div>

          <div class="container-item col">
            <div class="row">
              <label id="price">Price R$</label>
            </div>
            <input in-price name="price" type="number" step="0.01" placeholder="Price R$">
            <small validation></small>
          </div>
        </section>
        <br>      

        <section class="row">
          <div class="container-item col">
            <div class="row">
              <label id="description">Description</label>
            </div>
            <input in-description name="description" type="text" placeholder="Description">
            <small validation></small>
          </div>
        </section>
        <br>
        
        <section class="row">
          <div class="container-item col">
            <div class="row">
              <label id="categoryId">Category</label>
            </div>
            <select in-category name="categoryId" class="single-select" name="CategoryId">
              <option selected value="">[Select the category]</option>
            </select>
            <small validation></small>
          </div>

          <div class="container-item col">
            <div class="row">
              <label id="colorId">Color</label>
            </div>
            <select in-color name="colorId" class="single-select" name="ColorId">
              <option selected value="">[Select the color]</option>
            </select>
            <small validation></small>
          </div>

          <div class="container-item col">
            <div class="row">
              <label id="sizeId">Size</label>
            </div>
            <select in-size name="sizeId" class="single-select" name="SizeId">
              <option selected value="">[Select the size]</option>
            </select>
            <small validation></small>
          </div>
        </section>
        <br>

        <div class="container-item">
            <button class="btn btn-warning">Back</button>
            <button submit id="btn-submit" type="submit" class="btn btn-success">Finish</button>
        </div>
        <div id="result-form"></div>
      </form>
    </section>
    <br>
    <p id="log"></p>
  </body>
  <footer></footer>
</html>
