<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript -->
    <script type="module" src="HomeForm.js"></script>

    <!-- Fonsts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Tangerine&display=swap" rel="stylesheet">

    <!-- Custom Styles-->
    <link href="../../styles/tags.css" rel="stylesheet">
    <link href="../../styles/classes.css" rel="stylesheet">
    <link href="../../styles/buttons.css" rel="stylesheet">
  </head>

  <body>
    <h5 class="section-title">Products</h5>
    <section catalog class="container" method="get"></section>
    <p id="log"></p>
  </body>
  <footer></footer>
</html>
